{
    "semi": false,
    "tabWidth": 4,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "pluginSearchDirs": false,
    "arrowParens": "avoid", 
    "plugins": ["prettier-plugin-tailwindcss"]
}
