@use '../styles/base/' as *;

.home-component {
    padding: 3rem 2.5rem 3.5rem 2.5rem;
    @media only screen and (max-width: 639px) {
        padding: 3rem 1.5rem 3.5rem 1.5rem;
    }
    #container_home {
        .movie-container {
            .heading-card {
                > button {
                    @include transition(background-color, 0.3s);
                }
            }
            .container-list-card {
                .slick-list {
                    margin: 0 -10px;
                    .slick-slide {
                        > div {
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
        #popular_tv {
            > .container-list-card {
                .slick-list {
                    .slick-track {
                        height: 0 !important;
                    }
                }
            }
        }
        section {
            #right_section {
                #upcoming_movie, #now_playing_movie, #top_rated_movie {
                    .container-list-card {
                        .slick-list {
                            // margin: 0 -10px;
                            .slick-slide {
                                > div {
                                    margin-right: 1px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
