$error-color: #b8351c;
$neutral-2: #828282;
$neutral-3: #d5d5d5;
$neutral-4: #fcfcfc;
$orange-code: #fd9727;
$indigo-code: #656ee3;
$purple-code: #3a39b4;
$indigo-two-code: #f1f1ff;

$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-600: #4b5563;
$gray-800: #1f2937;
$gray-900: #111827;
